<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        <h1>{{- .title | default $.Site.Title | markdownify -}}</h1>
        <span>{{- .subtitle | markdownify -}}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{- with .buttons }}
                    <div class="card">
                        <div class="card-header">
                            <span>Sections</span>
                        </div>
                        <div class="card-body">
                            <div class="buttons">
                                {{- range . -}}
                                <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                                    <span class="button-inner">{{ .name }}</span>
                                </a>
                                {{- end -}}
                            </div>
                        </div>
                    </div>
                    <br>

                    {{- end }}
                </div>
                <div class="col">
                    {{- with .projects }}
                    <div class="card">
                        <div class="card-header">
                            <span>Projects</span>
                        </div>
                        <div class="card-body">
                            <div class="buttons">
                                {{- range . -}}
                                <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                                    <span class="button-inner">{{ .name }}</span>
                                </a>
                                {{- end -}}
                            </div>
                        </div>
                    </div>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
    {{- end}}
</div>
